@font-face {
    font-family: 'Supply';
    src: url('./Supply/Supply-UltraLight.woff2') format('woff2');
    font-weight: 200;
}

@font-face {
    font-family: 'Supply';
    src: url('./Supply/Supply-Regular.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Supply';
    src: url('./Supply/Supply-Bold.woff2') format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'Object Sans';
    src: url('./ObjectSans/ObjectSans-Thin.woff2') format(('woff2'));
    font-weight: 200;
}

@font-face {
    font-family: 'Object Sans';
    src: url('./ObjectSans/ObjectSans-Regular.woff2') format(('woff2'));
    font-weight: 400;
}

@font-face {
    font-family: 'Object Sans';
    src: url('./ObjectSans/ObjectSans-Bold.woff2') format(('woff2'));
    font-weight: 700;
}

@font-face {
    font-family: 'Object Sans';
    src: url('./ObjectSans/ObjectSans-Heavy.woff2') format(('woff2'));
    font-weight: 900;
}
